################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RedBullUITestingWorkshop/v16/.suo
/.vs
/Lab#2 - Building a DSL/.vs
/Lab#2 - Building a DSL/eShopWebFunctionalTests/.vs/eShopWebFunctionalTests/v16
/Lab#2 - Building a DSL/eShopWebFunctionalTests/bin/Debug/netcoreapp2.2
/Lab#2 - Building a DSL/eShopWebFunctionalTests/obj
/Lab#3 - WinAppDriver/CalculatorFunctionalTests/.vs/CalculatorFunctionalTests/v16
/Lab#3 - WinAppDriver/CalculatorFunctionalTests/bin/Debug
/Lab#3 - WinAppDriver/CalculatorFunctionalTests/obj/Debug
/Lab#3 - WinAppDriver/CalculatorFunctionalTests/packages
/Lab#3 - WinAppDriver/CalculatorFunctionalTests/obj/Release
